@font-face {
  font-family: cinzel;
  src: url("./fonts/Cinzel-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
li {
  font-family: roboto;
}

header {
  display: flex;
  height: 50px;
  z-index: 4;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

li,
ol,
ul {
  list-style: none;
}

.logo-link {
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
}

.logoHeader {
  height: 100%;
  padding-bottom: 1px;
  padding-top: 1px;
  cursor: pointer;
  width: 100%;
}

.filterSVG__black {
  filter: saturate(100%) brightness(0%);
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: all;
  position: relative;
  z-index: 2;
}

.menu {
  position: relative;
  display: flex;
}

.nav-menu__item {
  display: inline-block;
  margin-right: 2rem;
  position: relative;
  z-index: 2;
  font-size: 1.2rem;
  color: white;
}

.main__page {
  left: 0;
  top: 0;
  width: 100%;
}

.landing__cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 7%, 0.45);
  z-index: 2;
}

video {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
  z-index: 1;
}

.landing__section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.title {
  line-height: 60px;
  position: relative;
  font-size: 50px;
  font-family: cinzel;
  font-weight: 200;
  z-index: 3;
}

.title__main {
  color: white;
  margin-left: 20vw;
  margin-top: 300px;
  letter-spacing: 5px;
}

.video__stats {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 4.5rem;
  position: absolute;
  right: 10vw;
  height: 40px;
  left: 10vw;
  z-index: 3;
}

.video__label {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  position: relative;
}

.video__scroll {
  color: hsla(0, 0%, 100%, 0.65);
  display: block;
  font-size: 0.9rem;
}

#section05 {
  position: relative;
  left: 50%;
  top: -100px;
}

#section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 2px solid hsla(0, 0%, 100%, 0.65);
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.65);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.welcome__section {
  background-image: url(https://discoverylandco.com/imager/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg);
  height: 1000px;
  margin-top: 1px;
}

.welcomeImage__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.welcome__text {
  width: 100%;
}

.welcome__content {
  font-size: 1.2rem;
  margin-top: 20px;
  width: 90%;
}

.welcome__img1 {
  width: calc(100% - 90px);
  height: 400px;
  object-fit: cover;
  object-position: center center;
  margin-top: 40px;
  margin-right: 20px;
  align-self: flex-end;
}

.welcome__img2 {
  width: 75%;
  position: absolute;
  left: 10%;
  margin-top: -150px;
  height: 150px;
  object-fit: cover;
  object-position: center bottom;
}

.welcome__img1,
.welcome__img2 {
  object-fit: cover;
}

.explore__section {
  overflow: hidden;
}

.explore__section .title {
  margin: 20px;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 5%;
  top: 50%;
  translate: (0%, 0%);
  user-select: none;
  margin-top: 2rem;
}

.image-container {
  position: relative;
}

.image-track__image {
  width: 60vmin;
  height: 100vmin;
  object-fit: cover;
  object-position: 100% center;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vmin;
  height: 100vmin;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay h3,
.overlay p {
  margin: 0;
  padding: 0;
}

.overlay h3 {
  font-size: 35px;
}

.overlay p {
  font-size: 20px;
}

.testimonial__section {
  background-image: url(https://discoverylandco.com/imager/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg);
  margin: 20px;
}

.testimonial__text {
  font-size: 20px;
}

.gtco-testimonials {
  position: relative;
}
@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}
.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 2px;
  background-color: black;
  padding: 10px 5px;
}
.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #666666;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: black;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  margin: 0 20px;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.gtco-testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px black;
  width: 100px;
  height: 100px;
}
.gtco-testimonials .card h3 {
  font-size: 21px;
  line-height: 1.3;
}
.gtco-testimonials .card h3 span {
  font-size: 18px;
  color: #666666;
}
.gtco-testimonials .card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}
.gtco-testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h3 {
  font-size: 24px;
}
.gtco-testimonials .center h3 span {
  font-size: 20px;
}
.gtco-testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  outline: 0;
}

.grid__bottom {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
}

.bottomGrid__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.bottomGrid__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: transform 0.6s;
}

.bottomGrid__section:hover .bottomGrid__img {
  transform: scale(1.1);
}

.glass-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.4);
  padding: 50px;
  width: 80%;
  backdrop-filter: blur(20px);
  text-align: left;
  display: none;
  z-index: 2;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.4), 0 4px 12px rgba(0, 0, 0, 0.32);
  transition: box-shadow 0.3s ease;
}

.bottomGrid__section:hover .glass-card {
  display: block;
}

.glass-card > h2 {
  font-size: 35px;
}

.glass-card > p,
a {
  font-size: 20px;
}

footer {
  background-color: #161f1e;
}

.footer__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__logo {
  height: 100px;
  width: 100px;
}

.footer__menu {
  font-size: 16px;
  color: white;
  margin-top: 20px;
}

.footer__menu a {
  color: white;
}

.footer__menu li {
  margin-top: 10px;
}

.footer__list2 {
  margin-top: 20px;
}

.copyrights {
  margin-top: 30px;
  text-align: center;
  color: white;
}

#mobile__nav {
  display: none;
}

@media screen and (max-width: 768px) {
  #mobile__nav {
    display: flex;
    position: fixed;
    z-index: 10;
  }

  .nav__menu {
    display: none;
  }

  #menuToggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 10%;

    z-index: 10;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
    z-index: 10;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    right: 0;

    cursor: pointer;

    opacity: 0;
    z-index: 11;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 10;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px;
    padding-top: 125px;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 100% 0%;
    transform: translate(100%, 0);

    z-index: 6;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

.disable-scroll {
  overflow: hidden;
  height: 100%;
}
